<!--Persistant borders for visual appeal-->
<div class="top-border"></div>
<div class="right-border"></div>
<div class="bottom-border"></div>
<div class="left-border"></div>
<header>
  <div id="header-container">
    <h1
    routerLink="home"
    >Peter Xu</h1>
    <nav>
      <ul>
        <li
        routerLinkActive="selected"
        routerLink="home"
        >Home</li>
        <li
        routerLinkActive="selected"
        routerLink="experience"
        >Experience</li>
        <li
        routerLinkActive="selected"
        routerLink="projects"
        >Projects</li>
      </ul>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>