header {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  position: fixed;
  top: 10px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  #header-container {
    max-width: 1000px;
    width: 100%;
    height: 40px;
    overflow: auto;
    margin: auto;
    h1 {
      float: left;
      margin: 0 0 0 5%;
    }
    nav {
      margin: 0 5% 0 0;
      float: right;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        list-style: none;
        li {
          display: inline-block;
          margin: 0 15px 0 15px;
          padding: 5px 0 5px 0;
        }
        li:hover{
          cursor: pointer;
          border-bottom: 1px solid black;
        }
      }
    }
  }
}

// Screen Border "Frames" 
@media screen and (min-width: 480px) {
  .top-border {
    position: fixed;
    display: block;
    top: 5px;
    width: 100%;
    height: 5px;
    background-color: black;
  }
  .left-border {
    position: fixed;
    display: block;
    right: 5px;
    width: 5px;
    height: 100%;
    background-color: black;
  }
  .bottom-border {
    position: fixed;
    display: block;
    bottom: 5px;
    width: 100%;
    height: 5px;
    background-color: black;
  }
  .right-border {
    position: fixed;
    display: block;
    left: 5px;
    width: 5px;
    height: 100%;
    background-color: black;
  }
}
