.home-container{
    max-width: 1000px;
    width: 100%;
    // Only for big screens
    height: calc(100vh - 100px);
    margin: 0 auto;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .image-container{
        margin: 0 5% 0 5%;
        float: left;
        width: 20%;
        img{
            max-width: 100%;
            border-radius: 50%;
            border: 3px solid black;
        }
    }
    .content-container{
        width: 60%;
        float: right;
        margin: 0 5% 0 5%;
        .highlight{
            color: grey;
        }
        div{
            width: fit-content;
            div{
                padding: 6px 10px 6px 10px;
                height: 35px;
            }
            #contact-button{
                border: 1px solid black;
            }
            #contact-button:hover{
                cursor: pointer;
                color: white;
                background-color: black;
            }
        }
        .external-links{
            height: 35px;
            margin-left: 3px;
            ul{
                height: 100%;
                list-style: none;
                li{
                    display: inline-block;
                    margin-right: 10px;
                    height: 25px;
                    a i{
                        font-size: 25px;
                    }
                }
            }
        }
    }

}