<div class="home-container">
  <div class="image-container">
    <img src="./assets/peter.jpg" alt="Photograph of Peter">
  </div>
  <div class="content-container">
    <p>Hi, I'm Peter.</p><br>
    <p>I’m an<strong> engineer, adventurer </strong> and <strong> optimist</strong> from Toronto who recently graduated from the University of Waterloo.</p><br>
    <p class="highlight">I'm currently looking for an awesome adventure to be a part of.</p><br>
    <br>
    <div class="external-links">
      <ul>
        <li><a href="mailto:peterxura@gmail.com?subject=Hello Peter!"><i class="fa fa-envelope"></i></a></li>
        <li><a href="https://www.github.com/imptrx"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/petercbxu/"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://twitter.com/imptrx"><i class="fa fa-twitter"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<footer>
  <p>&copy; {{year}} Peter Xu.</p>
</footer>
