.home-container{
    height: calc(100vh - 100px);
    margin: 0 auto;
    overflow: auto;
    .image-container{
        width: 30%;
        margin: 10vh auto 0;
        img{
            width: 100%;
            max-width: 180px;
            border-radius: 50%;
            border: 3px solid black;
        }
    }
    .content-container{
        margin: 0 5% 0 5%;
        .highlight{
            color: grey;
        }
        div{
            width: fit-content;
            margin: 0 auto;
            div{
                padding: 6px 10px 6px 10px;
                height: 35px;
            }
            a{
                text-decoration: none;
            }
            #contact-button{
                border: 1px solid black;
                color: black;
            }
            #contact-button:hover{
                cursor: pointer;
                color: white;
                background-color: black;
            }
        }
        .external-links{
            height: 35px;
            ul{
                list-style: none;
                li{
                    display: inline-block;
                    margin-right: 10px;
                    height: 25px;
                    width: 25px;
                    a{
                        color: black;
                        i{
                        font-size: 25px;
                        }
                    }
                    a:hover{
                        i{
                            color: #777777;
                        }
                    }
                }
                li:nth-child(3){
                    margin-right: 0;
                }
            }
        }
    }
}
footer{
    font-size:0.6em;
    text-align: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #ccc;
}


//For Large Screens
@media screen and (min-width: 880px){
.home-container{
    max-width: 1000px;
    width: 100%;
    margin: -5vh auto;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .image-container{
        margin-top: 0;
        float: left;
        width: 20%;
        img{
            max-width: 100%;
        }
    }
    .content-container{
        width: 60%;
        float: right;
        margin: 0 5% 0 5%;
        div{
            margin: 0 0 auto;
        }
        .external-links{
            margin-left: 3px;
            ul{
                height: 100%;
                
            }
        }
    }
}
}