<div class="home-container">
  <div class="image-container">
    <img src="./assets/peter.png" alt="Photograph of Peter">
  </div>
  <div class="content-container">
    <p>Hi, I'm Peter.</p><br>
    <p>I’m a <strong>developer, designer,</strong> and <strong> tech enthusiast </strong> from Toronto currently studying mechatronics engineering at the University of Waterloo.</p><br>
    <p class="highlight">Looking for an awesome place to learn and make an impact for my Fall 2017 co-op.</p><br>
    <div>
      <a href="mailto:cbxu@edu.uwaterloo.ca">
        <div id="contact-button">Contact</div>
      </a>
    </div>
    <br>
    <div class="external-links">
      <ul>
        <li><a href="https://www.github.com/peter-cbxu"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/petercbxu/"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="./assets/resume.pdf"><i class="fa fa-file-text-o"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<footer>
  <p>&copy; {{year}} Peter Xu.</p>
</footer>
